#fotoDett {
  width: 100vw;
  height: 40vh;
  object-fit: cover;
  display: block;

}
h2{
  font-family: 'Homemade Apple', cursive;
  font-size: 35px;
  text-shadow: 2px 3px 3px #000000;
  padding-top: 20px;
  padding-left: 15px;
}
p {
  padding-left: 15px;
  padding-right: 15px;
  text-align: justify;

}
span {
  font-weight: bold;

}
