// primary colors
$primary-color-1: #b61f01;
$primary-color-2: #3e0d03;


// Secondary colors
$secondary-color-1: 'black';
$secondary-color-2: 'white';
$secondary-color-2: 'grey';
$secondary-color-2: rgb(88, 87, 87);

// in un progetto vero vi danno un file con la cartella colori da utilizzare e la grafica e noi prepariamo la scaletta
