
<!--Prendiamo il modello card da Bootstrap e poi andiamo a modificarlo
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>-->
<div id="container-paginatore" *ngIf="pag != 'home'">

  <p-paginator (onPageChange)="paginate($event)" [rows]="ricettePerPagina" [totalRecords]="totaleRicette" />
</div>
<div class="container-card" *ngFor="let recipe of recipes | slice: (page * ricettePerPagina) - ricettePerPagina : page * ricettePerPagina">
<div class="card">
<div class="card-image" [ngStyle]="{'background-image': 'url('+ recipe.image +')'}" (click)= "inviaTitolo(recipe.title, recipe.difficulty)"></div>
  <div class="card-body">
    <h5 class="card-title">{{recipe.title}}</h5>
    <p class="card-text">{{recipe.description | slice: 0:accorciaDescrizione(recipe.description)}} ...</p>
    <a class="btn btn-primary" routerLink="dettaglio/{{recipe.title}}/{{recipe._id}}">visualizza</a>
    <button class="pi pi-trash"severity="danger" label="Elimina" (ngSubmit)="onRemove()"></button>

    <!-- lo / davanti ad un percorso (/dettaglio/) è un percorso assoluto, ignora la posizione di partenza
     se invece lo tolgo il percorso è relativo a dove mi trovo-->
        <!--btn è una classe di bootstrap quindi possiamo andare a vedere i comandi per modificarlo sul loro sito o usare css-->
        <!-- quando si usa routerLink si toglie href="#"-->
         <!--routerLink per il dettaglio dovendo cercare tramite _id uso l'interpolazione {{repipe.id}}-->
    </div>
  </div>
</div>
<!--inserisco un div contenitore div con classe container-card (div.container-card crea il div con la classe)
nel div inserisco un ciclo con le ricette *ngFor="let recipe of recipes"
tolgo <img src="" class="card-img-top" alt="..."> e style="width: 18rem;"
<div class="card-image" [ngStyle]="{'background-image': 'url('+ recipe.image +')'}"></div>
l'immagine la mettiamo uno un bg di un div così rivediamo ngStyle
Card title lo cambio in {{recipe.title}}
Some quick example text to build on the card title and make up the bulk of the card’s content. lo cambio
{{recipe.description}}

finito questo vado in css a gestire le classi
-->
<button (click)="open(modalCancellazione)">APRI MODALE</button>

<ng-template #modalCancellazione let-modal>
  <div class="modal-header"><h2>Rimozione Ricetta</h2>
    <button type="button" class="btn-close" aria-label="close" (click)="modal.dismiss()"></button>
  </div>

  <div class="modal-body">
    <h3> Conferma per cancellare:  </h3>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.dismiss()">ANNULLA</button>
    <div (ngSubmit)="onRemove()">
      <button type="submit" class="btn btn-primary" (click)="modal.close()">CONFERMA</button>
    </div>

  </div>
</ng-template>
