<app-header></app-header>
<app-carousel></app-carousel>
<div class="contenitore">
  <h2 [ngClass]="evidenziato ? 'testoEvidenziato' : '' " (click)="onEvidenziato()" style="cursor: pointer;">Benvenuti su Cibando</h2>
  <p class="paragrafo" [ngStyle]="{'background-color': evidenziato === true ? 'yellow' : 'white'}">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae nam veniam delectus tempora cupiditate placeat,
    deleniti saepe distinctio? Aut in animi nobis quia, blanditiis doloribus pariatur, natus debitis earum, aperiam
    deleniti ea! Dolores sed odio deserunt facilis aspernatur cumque quas tenetur eius, sequi beatae hic neque incidunt
    quaerat suscipit quasi, ut fugit asperiores explicabo veniam! Ducimus esse ipsa, modi dignissimos quod ex placeat
    iusto laboriosam amet corporis similique officia ut quasi ipsam velit molestiae, consequuntur aut unde ad sunt laudantium!
    Iusto eveniet corrupti ullam placeat iure, error ea laborum fugiat ipsam. Nihil repellendus neque minus veniam ipsa repudiandae
    ipsum eum tempora nulla perspiciatis molestiae, optio dignissimos pariatur officiis cupiditate culpa! Perferendis, quos saepe
    debitis molestiae ex tenetur iure in harum voluptatem odit libero quis totam cum? Officia reprehenderit, veniam excepturi porro
    rchitecto ipsa beatae? Sequi ducimus enim amet aspernatur expedita magnam necessitatibus earum vel, reiciendis labore at? Minus
    atque quibusdam sequi vitae, quisquam voluptate fugit neque reprehenderit ut cum, in architecto asperiores quaerat dolores eaque
    quos. Quam veniam aliquid vitae doloribus, consectetur inventore facilis cumque, labore porro, recusandae sunt? Ipsa quidem veritatis
    commodi neque aut harum ab officia suscipit excepturi, corrupti ea consequuntur quisquam ad, recusandae aspernatur dicta
    exercitationem amet totam vel corporis velit! Nisi eius neque reprehenderit et quidem velit, impedit voluptates repudiandae
    nesciunt quos dolore quia. Expedita dolore aperiam voluptatum consectetur, praesentium consequatur natus veniam repudiandae
    mollitia quos aspernatur iure dolor. Vitae, atque. Quo dolores ex mollitia dolorum illum repellendus, earum iste fugiat neque eaque
    </p>
 </div>

<router-outlet></router-outlet>
